- title "Groups"
%table.table
  %tr
    %th
      Name
  - for group in @groups
    %tr
      %td
        = h group.name
      %td
        = link_to "Edit", edit_group_path(group)
        |
        = link_to "Destroy", group, :confirm => 'Are you sure?', :method => :delete

%p
  = link_to "New Group", new_group_path
